@model kursach.Models.Collection

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Collection</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Topic")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CollectionTopic.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.String1Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.String1Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.String2Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.String2Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.String3Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.String3Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Number1Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Number1Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Number2Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Number2Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Number3Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Number3Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date1Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date1Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date2Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date2Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date3Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date3Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Checkbox1Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Checkbox1Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Checkbox2Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Checkbox2Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Checkbox3Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Checkbox3Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MarkdownField1Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MarkdownField1Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MarkdownField2Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MarkdownField2Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MarkdownField3Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MarkdownField3Name)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit2", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "GetCollections", "Home")
</p>
