
@{
    ViewBag.Title = "Create2";
}

<h2>Create2</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <blockquote>
        <div class="form-horizontal">

            <input type="hidden" name="CollectionId" value="@ViewBag.CollectionId">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group col-md-10">
                @Html.DisplayName("String1Value")
                <input id="String1Value" name="String1Value" type="text" value="" />
            </div>

            <div class="form-group col-md-10">
                @Html.DisplayName("String2Value")
                <input id="String2Value" name="String2Value" type="text" value="" />
            </div>

            <div class="form-group col-md-10">
                @Html.DisplayName("String3Value")
                <input id="String3Value" name="String3Value" type="text" value="" />
            </div>

            <div class="form-group col-md-10">
                @Html.DisplayName("Number1Visible")
                <input id="Number1Visible" name="Number1Visible" type="number" value="" />
            </div>

            <div class="form-group col-md-10">
                @Html.DisplayName("Number2Visible")
                <input id="Number2Visible" name="Number2Visible" type="number" value="" />
            </div>

            <div class="form-group col-md-10">
                @Html.DisplayName("Number3Visible")
                <input id="Number3Visible" name="Number3Visible" type="number" value="" />
            </div>

            <div class="form-group col-md-10">
                @Html.DisplayName("Date1Visible")
                <input id="Date1Value" name="Date1Value" type="date" value="" />
            </div>

            <div class="form-group col-md-10">
                @Html.DisplayName("Date2Visible")
                <input id="Date2Value" name="Date2Value" type="date" value="" />
            </div>

            <div class="form-group col-md-10">
                @Html.DisplayName("Date3Visible")
                <input id="Date3Value" name="Date3Value" type="date" value="" />
            </div>

            <div class="form-group col-md-10">
                @Html.DisplayName("CheckBox1Visible")
                <input id="Checkbox1Value" name="Checkbox1Value" type="checkbox" value="" />
            </div>

            <div class="form-group col-md-10">
                @Html.DisplayName("CheckBox2Visible")
                <input id="Checkbox2Value" name="Checkbox2Value" type="checkbox" value="" />
            </div>

            <div class="form-group col-md-10">
                @Html.DisplayName("CheckBox3Visible")
                <input id="Checkbox3Value" name="Checkbox3Value" type="checkbox" value="" />
            </div>

            <div class="form-group col-md-10">
                @Html.DisplayName("Markdown1Value")
                <input id="Markdown1Value" name="Markdown1Value" type="text" value="" />
            </div>

            <div class="form-group col-md-10">
                @Html.DisplayName("Markdown2Value")
                <input id="Markdown2Value" name="Markdown2Value" type="text" value="" />
            </div>

            <div class="form-group col-md-10">
                @Html.DisplayName("Markdown1Value")
                <input id="Markdown3Value" name="Markdown3Value" type="text" value="" />
            </div>

            <div class="form-group col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </blockquote>
}

@*<div>
    @Html.ActionLink("Back to List", "Details", new { id = Model.CollectionId })
</div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}