@model kursach.Models.Collection

@{
    ViewBag.Title = "Details";
}

<h2>Details CollectionItems</h2>

<style>
    table#home_view-collection__table tr, table#home_view-collection__table th, table#home_view-collection__table td {
        border: 1px solid black;
        text-align: center
    }

    table#home_view-collection__table th, table#home_view-collection__table td {
        padding: 4px;
    }

    #edit {
        width: 9em;
        height: 2em;
    }

    #add {
        white-space: normal;
        width: 9em;
        height: 4em;
    }
</style>

<p>
    @Html.ActionLink("Create New CollectionItem", "Create2", "CollectionItems", new { id = Model.Id }, null)
</p>
<table id="home_view-collection__table">
    <tr>
        <th>
            @Html.DisplayName("№")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayName("Topic")
        </th>*@
        <th>String Field 1 Name</th>
        <th>String Field 2 Name</th>
        <th>String Field 3 Name</th>
        <th>Number Field 1 Name</th>
        <th>Number Field 2 Name</th>
        <th>Number Field 3 Name</th>
        <th>Date Field 1 Name</th>
        <th>Date Field 2 Name</th>
        <th>Date Field 3 Name</th>
        <th>Checkbox Field 1 Name</th>
        <th>Checkbox Field 1 Name</th>
        <th>Checkbox Field 1 Name</th>
        <th>Markdown Field 1 Name</th>
        <th>Markdown Field 2 Name</th>
        <th>Markdown Field 3 Name</th>
        <td><label> Collection actions </label></td>
    </tr>

    @{
        int collectionNumber = 1;

        foreach (var item in Model.Items)
        {
            <tr>
                <td>
                    @collectionNumber
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CollectionOfItem.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.String1Value)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.String2Value)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.String3Value)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Number1Value)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Number2Value)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Number3Value)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date1Value)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date2Value)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date3Value)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Checkbox1Value)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Checkbox2Value)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Checkbox3Value)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Markdown1Value)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Markdown2Value)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Markdown3Value)
                </td>

                <td>                    
                    <form action="/CollectionItems/Edit/@item.Id" method="get"><input type="submit" id="edit" value="Edit" /></form>
                    @*<form action="/Collection/EditScheme/@item.Id" method="get"><input type="submit" id="edit" value="Edit scheme" /></form>*@
                    <form action="/CollectionItems/Delete/@item.Id" method="post"><input type="submit" id="edit" value="Delete" /></form>
                    @*@Html.ActionLink("Просмотреть", "EditTable", "CollectionTopics", new { id = item.Id }, null)*@
                </td>
            </tr>
            collectionNumber++;
        }
    }
</table>

<br />
<div>
    @Html.ActionLink("Back to List", "GetCollections", "Home")
</div>
