@model IEnumerable<kursach.Models.Collection>

@{
    ViewBag.Title = "Коллекции";
}

<h2>Коллекции</h2>
<style>
    table#home_view-collection__table tr, table#home_view-collection__table th, table#home_view-collection__table td {
        border: 1px solid black;
    }

    table#home_view-collection__table th, table#home_view-collection__table td {
        padding: 4px;
    }
</style>

<p>
    @Html.ActionLink("Create New", "Register2", "Reg")
</p>
<table id="home_view-collection__table">
    <tr>
        <th>
            @Html.DisplayName("№")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TopicName)
        </th>
        <td>
            <label> Collection actions </label>
        </td>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TopicName)
            </td>

            <td>
                @Html.ActionLink("Просмотреть", "Edit", new { id = item.Id })
                @Html.ActionLink("Редактировать", "Blocked", new { id = item.Id })
                @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>

<button class="navbar-btn" value="Edit_table" 
        onclick="location.href='@Url.Action("EditTable", "CollectionTopics")'">Изменить таблицу</button>


