@model IEnumerable<kursach.Models.Collection>

@{
    ViewBag.Title = "Коллекции";
}

<h2>Коллекции</h2>
<style>
    table#home_view-collection__table tr, table#home_view-collection__table th, table#home_view-collection__table td {
        border: 1px solid black;
        text-align: center
    }

    table#home_view-collection__table th, table#home_view-collection__table td {
        padding: 4px;
    }

    #edit {
        width: 9em;
        height: 2em;
    }

    #add {
        white-space: normal;
        width: 9em;
        height: 4em;
    }
</style>

<p>
    @Html.ActionLink("Create New", "Create", "Collection")
</p>
<table id="home_view-collection__table">
    <tr>
        <th>
            @Html.DisplayName("№")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayName("Topic")
            @*@Html.DisplayNameFor(model => model.CollectionTopic.Name)*@
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.String1Name)*@
            String Field 1 Name
        </th>
        <th>String Field 2 Name</th>
        <th>String Field 3 Name</th>
        <th>Number Field 1 Name</th>
        <th>Number Field 2 Name</th>
        <th>Number Field 3 Name</th>
        <th>Markdown Field 1 Name</th>
        <th>Markdown Field 2 Name</th>
        <th>Markdown Field 3 Name</th>
        <th>Date Field 1 Name</th>
        <th>Date Field 2 Name</th>
        <th>Date Field 3 Name</th>
        <th>Checkbox Field 1 Name</th>
        <th>Checkbox Field 1 Name</th>
        <th>Checkbox Field 1 Name</th>
        <td>
            <label> Collection actions </label>
        </td>
    </tr>

    @{
        int collectionNumber = 1;

        foreach (var item in Model)
        {
            <tr>
                <td>
                    @collectionNumber
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CollectionTopic.Name)
                </td>
                <td>
                    @if (item.String1Visible)
                    {
                        @*<label>@Html.DisplayFor(modelItem => item.String1Name)</label>*@
                        @Html.DisplayFor(modelItem => item.String1Name)
                    }
                    else
                    {
                        <label>&#8212</label>
                    }
                </td>
                <td>
                    @if (item.String2Visible)
                    {
                        @*<label>@Html.DisplayFor(modelItem => item.String2Name)</label>*@
                        @Html.DisplayFor(modelItem => item.String2Name)
                    }
                    else
                    {
                        <label>&#8212</label>
                    }
                </td>
                <td>
                    @if (item.String3Visible)
                    {
                        @*<label>@Html.DisplayFor(modelItem => item.String3Name)</label>*@
                        @Html.DisplayFor(modelItem => item.String3Name)
                    }
                    else
                    {
                        <label>&#8212</label>
                    }
                </td>
                <td>
                    @if (item.Number1Visible)
                    {
                        @*<label>@Html.DisplayFor(modelItem => item.Number1Name)</label>*@
                        @Html.DisplayFor(modelItem => item.Number1Name)
                    }
                    else
                    {
                        <label>&#8212</label>
                    }
                </td>
                <td>
                    @if (item.Number2Visible)
                    {
                        @*<label>@Html.DisplayFor(modelItem => item.Number2Name)</label>*@
                        @Html.DisplayFor(modelItem => item.Number2Name)
                    }
                    else
                    {
                        <label>&#8212</label>
                    }
                </td>
                <td>
                    @if (item.Number3Visible)
                    {
                        @*<label>@Html.DisplayFor(modelItem => item.Number3Name)</label>*@
                        @Html.DisplayFor(modelItem => item.Number3Name)
                    }
                    else
                    {
                        <label>&#8212</label>
                    }
                </td>
                <td>
                    @if (item.MarkdownField1Visible)
                    {
                        @*<label>@Html.DisplayFor(modelItem => item.MarkdownField1Name)</label>*@
                        @Html.DisplayFor(modelItem => item.MarkdownField1Name)
                    }
                    else
                    {
                        <label>&#8212</label>
                    }
                </td>
                <td>
                    @if (item.MarkdownField2Visible)
                    {
                        @*<label>@Html.DisplayFor(modelItem => item.MarkdownField2Name)</label>*@
                        @Html.DisplayFor(modelItem => item.MarkdownField2Name)
                    }
                    else
                    {
                        <label>&#8212</label>
                    }
                </td>
                <td>
                    @if (item.MarkdownField3Visible)
                    {
                        @*<label>@Html.DisplayFor(modelItem => item.MarkdownField3Name)</label>*@
                        @Html.DisplayFor(modelItem => item.MarkdownField3Name)
                    }
                    else
                    {
                        <label>&#8212</label>
                    }
                </td>
                <td>
                    @if (item.Date1Visible)
                    {
                        @*<label>@Html.DisplayFor(modelItem => item.Date1Name)</label>*@
                        @Html.DisplayFor(modelItem => item.Date1Name)
                    }
                    else
                    {
                        <label>&#8212</label>
                    }
                </td>
                <td>
                    @if (item.Date2Visible)
                    {
                        @*<label>@Html.DisplayFor(modelItem => item.Date2Name)</label>*@
                        @Html.DisplayFor(modelItem => item.Date2Name)
                    }
                    else
                    {
                        <label>&#8212</label>
                    }
                </td>
                <td>
                    @if (item.Date3Visible)
                    {
                        @*<label>@Html.DisplayFor(modelItem => item.Date3Name)</label>*@
                        @Html.DisplayFor(modelItem => item.Date3Name)
                    }
                    else
                    {
                        <label>&#8212</label>
                    }
                </td>
                <td>
                    @if (item.CheckBox1Visible)
                    {
                        @*<label>@Html.DisplayFor(modelItem => item.Checkbox1Name)</label>*@
                        @Html.DisplayFor(modelItem => item.Checkbox1Name)
                    }
                    else
                    {
                        <label>&#8212</label>
                    }
                </td>
                <td>
                    @if (item.CheckBox2Visible)
                    {
                        @*<label>@Html.DisplayFor(modelItem => item.Checkbox2Name)</label>*@
                        @Html.DisplayFor(modelItem => item.Checkbox2Name)
                    }
                    else
                    {
                        <label>&#8212</label>
                    }
                </td>
                <td>
                    @if (item.CheckBox3Visible)
                    {
                        @*<label>@Html.DisplayFor(modelItem => item.Checkbox3Name)</label>*@
                        @Html.DisplayFor(modelItem => item.Checkbox3Name)
                    }
                    else
                    {
                        <label>&#8212</label>
                    }
                </td>

                <td>
                    <form action="/Collection/Delete/@item.Id" method="post"><input type="submit" id="add" value="Добавить в мою коллекцию" /></form>
                    <form action="/Collection/Details/@item.Id" method="post"><input type="submit" id="add" value="Просмотреть / Изменить" /></form>
                    <form action="/Collection/Delete/@item.Id" method="post"><input type="submit" id="edit" value="Редактировать" /></form>
                    <form action="/Collection/Delete/@item.Id" method="post"><input type="submit" id="edit" value="Удалить" /></form>
                    @*@Html.ActionLink("Просмотреть", "EditTable", "CollectionTopics", new { id = item.Id }, null)
                    @Html.ActionLink("Редактировать", "Details", "CollectionTopics", new { id = item.Id }, null)*@
                    @*@Html.ActionLink("Удалить", "DeleteCollection", "Home", new { id = item.Id }, null)*@
                </td>
            </tr>

            collectionNumber++;
        }
    }
</table>

<button class="navbar-btn" value="Edit_table"
        onclick="location.href='@Url.Action("EditTable", "CollectionTopics")'">
    Изменить таблицу
</button>


