@model IEnumerable<kursach.Models.Collection>

@{
    ViewBag.Title = "Collections";
}

<h2>Collections</h2>
<style>
    table#home_view-collection__table tr, table#home_view-collection__table th, table#home_view-collection__table td {
        border: 1px solid black;
        text-align: center
    }

    table#home_view-collection__table th, table#home_view-collection__table td {
        padding: 4px;
    }

    #edit {
        width: 9em;
        height: 2em;
    }
</style>

<p>
    @Html.ActionLink("Create New", "CreateMyCollection", "Collection")
</p>
<table id="home_view-collection__table">
    <tr>
        <th>
            @Html.DisplayName("№")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayName("Topic")
        </th>
        <th>String Field 1 Name</th>
        <th>String Field 2 Name</th>
        <th>String Field 3 Name</th>
        <th>Number Field 1 Name</th>
        <th>Number Field 2 Name</th>
        <th>Number Field 3 Name</th>
        <th>Markdown Field 1 Name</th>
        <th>Markdown Field 2 Name</th>
        <th>Markdown Field 3 Name</th>
        <th>Date Field 1 Name</th>
        <th>Date Field 2 Name</th>
        <th>Date Field 3 Name</th>
        <th>Checkbox Field 1 Name</th>
        <th>Checkbox Field 1 Name</th>
        <th>Checkbox Field 1 Name</th>
        <td>
            <label> Collection actions </label>
        </td>
    </tr>

    @{
        int collectionNumber = 1;

        foreach (var item in Model)
        {
            <tr>
                <td>
                    @collectionNumber
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CollectionTopic.Name)
                </td>
                <td>
                    <label>@(item.String1Visible ? Html.DisplayFor(modelItem => item.String1Name).ToString() : "—")</label>
                </td>
                <td>
                    <label>@(item.String2Visible ? Html.DisplayFor(modelItem => item.String2Name).ToString() : "—")</label>
                </td>
                <td>
                    <label>@(item.String3Visible ? Html.DisplayFor(modelItem => item.String3Name).ToString() : "—")</label>
                </td>
                <td>
                    <label>@(item.Number1Visible ? Html.DisplayFor(modelItem => item.Number1Name).ToString() : "—")</label>
                </td>
                <td>
                    <label>@(item.Number2Visible ? Html.DisplayFor(modelItem => item.Number2Name).ToString() : "—")</label>
                </td>
                <td>
                    <label>@(item.Number3Visible ? Html.DisplayFor(modelItem => item.Number3Name).ToString() : "—")</label>
                </td>
                <td>
                    <label>@(item.MarkdownField1Visible ? Html.DisplayFor(modelItem => item.MarkdownField1Name).ToString() : "—")</label>
                </td>
                <td>
                    <label>@(item.MarkdownField2Visible ? Html.DisplayFor(modelItem => item.MarkdownField2Name).ToString() : "—")</label>
                </td>
                <td>
                    <label>@(item.MarkdownField3Visible ? Html.DisplayFor(modelItem => item.MarkdownField3Name).ToString() : "—")</label>
                </td>
                <td>
                    <label>@(item.Date1Visible ? Html.DisplayFor(modelItem => item.Date1Name).ToString() : "—")</label>
                </td>
                <td>
                    <label>@(item.Date2Visible ? Html.DisplayFor(modelItem => item.Date2Name).ToString() : "—")</label>
                </td>
                <td>
                    <label>@(item.Date3Visible ? Html.DisplayFor(modelItem => item.Date3Name).ToString() : "—")</label>
                </td>
                <td>
                    <label>@(item.CheckBox1Visible ? Html.DisplayFor(modelItem => item.Checkbox1Name).ToString() : "—")</label>
                </td>
                <td>
                    <label>@(item.CheckBox2Visible ? Html.DisplayFor(modelItem => item.Checkbox2Name).ToString() : "—")</label>
                </td>
                <td>
                    <label>@(item.CheckBox3Visible ? Html.DisplayFor(modelItem => item.Checkbox3Name).ToString() : "—")</label>
                </td>

                <td>                    
                    <form action="/CollectionItems/Details/@item.Id" method="get"><input type="submit" id="edit" value="Items" /></form>
                    <form action="/Collection/EditScheme/@item.Id" method="get"><input type="submit" id="edit" value="Edit" /></form>
                    <form action="/Collection/DeleteMyCollection/@item.Id" method="post"><input type="submit" id="edit" value="Delete" /></form>
                </td>
            </tr>

            collectionNumber++;
        }
    }
</table>

