@model IEnumerable<kursach.Models.Collection>

@{
    ViewBag.Title = "GetMyCollections";
}

<h2>GetMyCollections</h2>
<style>
    table#home_view-collection__table tr, table#home_view-collection__table th, table#home_view-collection__table td {
        border: 1px solid black;
        text-align: center
    }

    table#home_view-collection__table th, table#home_view-collection__table td {
        padding: 4px;
    }

    #edit {
        width: 9em;
        height: 2em;
    }

    #add {
        white-space: normal;
        width: 9em;
        height: 4em;
    }
</style>

<table id="home_view-collection__table">
    <tr>
        <th>
            @Html.DisplayName("№")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>@Html.DisplayName("Topic")</th>
        <th>String Field 1 Name</th>
        <th>String Field 2 Name</th>
        <th>String Field 3 Name</th>
        <th>Number Field 1 Name</th>
        <th>Number Field 2 Name</th>
        <th>Number Field 3 Name</th>
        <th>Markdown Field 1 Name</th>
        <th>Markdown Field 2 Name</th>
        <th>Markdown Field 3 Name</th>
        <th>Date Field 1 Name</th>
        <th>Date Field 2 Name</th>
        <th>Date Field 3 Name</th>
        <th>Checkbox Field 1 Name</th>
        <th>Checkbox Field 1 Name</th>
        <th>Checkbox Field 1 Name</th>
        <td>
            <label> Collection actions </label>
        </td>
    </tr>

    @{
        int collectionNumber = 1;

        foreach (var item in Model.UserCollections)
        {
            <tr>
                <td>
                    @collectionNumber
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Collection.Number1Name)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.Collection.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Collection.CollectionTopic.Name)
                </td>
                <td>
                    <label>@(item.Collection.String1Visible ? Html.DisplayFor(modelItem => item.Collection.String1Name).ToString() : "—")</label>
                </td>
                <td>
                    <label>@(item.Collection.String2Visible ? Html.DisplayFor(modelItem => item.Collection.String2Name).ToString() : "—")</label>
                </td>
                <td>
                    <label>@(item.Collection.String3Visible ? Html.DisplayFor(modelItem => item.Collection.String3Name).ToString() : "—")</label>
                </td>
                <td>
                    <label>@(item.Collection.Number1Visible ? Html.DisplayFor(modelItem => item.Collection.Number1Name).ToString() : "—")</label>
                </td>
                <td>
                    <label>@(item.Collection.Number2Visible ? Html.DisplayFor(modelItem => item.Collection.Number2Name).ToString() : "—")</label>
                </td>
                <td>
                    <label>@(item.Collection.Number3Visible ? Html.DisplayFor(modelItem => item.Collection.Number3Name).ToString() : "—")</label>
                </td>
                <td>
                    <label>@(item.Collection.MarkdownField1Visible ? Html.DisplayFor(modelItem => item.Collection.MarkdownField1Name).ToString() : "—")</label>
                </td>
                <td>
                    <label>@(item.Collection.MarkdownField2Visible ? Html.DisplayFor(modelItem => item.Collection.MarkdownField2Name).ToString() : "—")</label>
                </td>
                <td>
                    <label>@(item.Collection.MarkdownField3Visible ? Html.DisplayFor(modelItem => item.Collection.MarkdownField3Name).ToString() : "—")</label>
                </td>
                <td>
                    <label>@(item.Collection.Date1Visible ? Html.DisplayFor(modelItem => item.Collection.Date1Name).ToString() : "—")</label>
                </td>
                <td>
                    <label>@(item.Collection.Date2Visible ? Html.DisplayFor(modelItem => item.Collection.Date2Name).ToString() : "—")</label>
                </td>
                <td>
                    <label>@(item.Collection.Date3Visible ? Html.DisplayFor(modelItem => item.Collection.Date3Name).ToString() : "—")</label>
                </td>
                <td>
                    <label>@(item.Collection.CheckBox1Visible ? Html.DisplayFor(modelItem => item.Collection.Checkbox1Name).ToString() : "—")</label>
                </td>
                <td>
                    <label>@(item.Collection.CheckBox2Visible ? Html.DisplayFor(modelItem => item.Collection.Checkbox2Name).ToString() : "—")</label>
                </td>
                <td>
                    <label>@(item.Collection.CheckBox3Visible ? Html.DisplayFor(modelItem => item.Collection.Checkbox3Name).ToString() : "—")</label>
                </td>*@

                @*<td>
                    <form action="/UserCollections/AddInMyCollections/@item.Id" method="post"><input type="submit" id="add" value="Add in my collectios" /></form>
                    <form action="/Collection/Details/@item.Id" method="post"><input type="submit" id="add" value="Details / Edit" /></form>
                    <form action="/Collection/EditScheme/@item.Id" method="get"><input type="submit" id="edit" value="Edit scheme" /></form>
                    <form action="/Collection/Delete/@item.Id" method="post"><input type="submit" id="edit" value="Delete" /></form>
                    @Html.ActionLink("Просмотреть", "EditTable", "CollectionTopics", new { id = item.Id }, null)
                </td>*@
            </tr>

            collectionNumber++;
        }
    }
</table>

