@model IEnumerable<kursach.Models.ApplicationUser>

@{
    ViewBag.Title = "GetUsers";
}

<h2>GetUsers</h2>
<style>
    table#home_view-users__table tr, table#home_view-users__table th, table#home_view-users__table td {
        border: 1px solid black;
    }

    table#home_view-users__table th, table#home_view-users__table td {
        padding: 4px;
    }
</style>

<p>
    @Html.ActionLink("Create New", "Create", "Home")
</p>
<table id="home_view-users__table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SecurityStamp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsAdminIn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsBlocked)
        </th>
        <td>
            <label> User actions </label>
        </td>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecurityStamp)
            </td>
            <td>
                @Html.HiddenFor(modelItem => item.IsAdminIn)
                @if (item.IsAdminIn)
                {
                    <label>Yes</label>
                }
                else
                {
                    <label>No</label>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.HiddenFor(modelItem => item.IsBlocked)
                @if (item.IsBlocked)
                {
                    <label>Yes</label>
                }
                else
                {
                    <label>No</label>
                }
            </td>
            <td>
                @Html.ActionLink("Просмотреть", "Edit", new { id = item.Id })
                @Html.ActionLink("Заблокировать", "Blocked", new { id = item.Id })
                @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
