@model IEnumerable<kursach.Models.ApplicationUser>

@{
    ViewBag.Title = "GetUsers";
}

<h2>Users</h2>
<style>
    table#home_view-users__table tr, table#home_view-users__table th, table#home_view-users__table td {
        border: 1px solid black;
        text-align: center
    }

    table#home_view-users__table th, table#home_view-users__table td {
        padding: 4px;
    }
</style>

<p>
    @Html.ActionLink("Create New", "Register2", "Reg")
</p>
<table id="home_view-users__table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsAdminIn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsBlocked)
        </th>
        <td>
            <label> User actions </label>
        </td>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAdminIn)
                <label> @(item.IsAdminIn ? "Yes" : "No")</label>
            </td>
            <td>
                @Html.HiddenFor(modelItem => item.IsBlocked)
                <label> @(item.IsBlocked ? "Yes" : "No")</label>

            </td>
            <td>
                @Html.ActionLink("View", "Edit", "UserCollections", new { id = item.Id }, null)
                @if (item.IsBlocked){
                    @Html.ActionLink("Unblock", "Blocked", new { id = item.Id })}
                else{
                    @Html.ActionLink("Block", "Blocked", new { id = item.Id })}                 
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                @Html.ActionLink("Admin", "Admin", new { id = item.Id })
            </td>
        </tr>
    }
</table>
