@model kursach.Models.Collection

@{
    ViewBag.Title = "EditTable";
}

<h2>EditTable</h2>


@using (Html.BeginForm("EditTablePost", "CollectionTopics", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <h4>Topic</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)

    <input type="hidden" value="@Model.Id" name="Id"/>
    
    <div class="row">
        <div class="col-md-offset-2">
            <div class="form-group col-md-3">
                <input type="text" placeholder="Name" border="1" name="stringItems" value="" class="text-left" />
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row">
        <form asp-action>
            
        </form>
        <div class="form-group col-md-3">
            <p>
                <select size="3" multiple name="Topics[]">
                    <option disabled>Выберите тему</option>
                    <option value="NotTopic">Без темы</option>
                    <option selected value="Alcogols">Алкоголь</option>
                    <option value="Books">Книги</option>
                    <option value="Balls">Мячи</option>
                </select>
            </p>
            <p><input type="submit" value="Отправить"></p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-offset-2">
            <div class="form-group col-md-3">
                <label> Discription</label>
                @Html.TextArea("text", "", 2, 20, null)
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-offset-2">
            @Html.LabelFor(model => model.String1Name, htmlAttributes: new { @class = "control-label col-md-2" })
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-2 text-center">
            <input type="checkbox" name="boolItems1" value="true" />
            <label> Enabled?</label>
        </div>
        <div class="form-group col-md-3">
            @*@Html.LabelFor(model => model.String1, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <input type="text" placeholder="String1Name" border="1" name="stringItems" value="" class="text-left" />
            @Html.ValidationMessageFor(model => model.String1Name, "", new { @class = "text-danger" })
            @*<br />*@
            @*@Html.EditorFor(model => model.String1, new { htmlAttributes = new { @class = "form-control" } })*@
        </div>
    </div>

    <div class="row">
        <div class="col-md-offset-2">
            @Html.LabelFor(model => model.String2Name, htmlAttributes: new { @class = "control-label col-md-2" })
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-2 text-center">
            <input type="checkbox" name="boolItems2" value="true" />
            <label> Enabled?</label>
        </div>
        <div class="form-group col-md-3">
            <input type="text" placeholder="String2Name" border="1" name="stringItems" value="" class="text-left" />
            @Html.ValidationMessageFor(model => model.String2Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row">
        <div class="col-md-offset-2">
            @Html.LabelFor(model => model.String3Name, htmlAttributes: new { @class = "control-label col-md-2" })
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-2 text-center">
            <input type="checkbox" name="boolItems3" value="true" />
            <label> Enabled?</label>
        </div>
        <div class="form-group col-md-3">
            <input type="text" placeholder="String3Name" border="1" name="stringItems" value="" class="text-left" />
            @Html.ValidationMessageFor(model => model.String3Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row">
        <div class="col-md-offset-2">
            @Html.LabelFor(model => model.Number1Name, htmlAttributes: new { @class = "control-label col-md-2" })
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-2 text-center">
            <input type="checkbox" name="boolItems4" value="true" />
            <label> Enabled?</label>
        </div>
        <div class="form-group col-md-3">
            <input type="text" placeholder="Number1Name" border="1" name="stringItems" value="" class="text-left" />
            @Html.ValidationMessageFor(model => model.Number1Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row">
        <div class="col-md-offset-2">
            @Html.LabelFor(model => model.Number2Name, htmlAttributes: new { @class = "control-label col-md-2" })
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-2 text-center">
            <input type="checkbox" name="boolItems5" value="true" />
            <label> Enabled?</label>
        </div>
        <div class="form-group col-md-3">
            <input type="text" placeholder="Number2Name" border="1" name="stringItems" value="" class="text-left" />
            @Html.ValidationMessageFor(model => model.Number2Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row">
        <div class="col-md-offset-2">
            @Html.LabelFor(model => model.Number3Name, htmlAttributes: new { @class = "control-label col-md-2" })
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-2 text-center">
            <input type="checkbox" name="boolItems6" value="true" />
            <label> Enabled?</label>
        </div>
        <div class="form-group col-md-3">
            <input type="text" placeholder="Number3Name" border="1" name="stringItems" value="" class="text-left" />
            @Html.ValidationMessageFor(model => model.Number3Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row">
        <div class="col-md-offset-2">
            @Html.LabelFor(model => model.Date1Name, htmlAttributes: new { @class = "control-label col-md-2" })
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-2 text-center">
            <input type="checkbox" name="boolItems7" value="true" />
            <label> Enabled?</label>
        </div>
        <div class="form-group col-md-3">
            <input type="text" placeholder="Date1Name" border="1" name="stringItems" value="" class="text-left" />
            @Html.ValidationMessageFor(model => model.Date1Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row">
        <div class="col-md-offset-2">
            @Html.LabelFor(model => model.Date2Name, htmlAttributes: new { @class = "control-label col-md-2" })
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-2 text-center">
            <input type="checkbox" name="boolItems8" value="true" />
            <label> Enabled?</label>
        </div>
        <div class="form-group col-md-3">
            <input type="text" placeholder="Date2Name" border="1" name="stringItems" value="" class="text-left" />
            @Html.ValidationMessageFor(model => model.Date2Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row">
        <div class="col-md-offset-2">
            @Html.LabelFor(model => model.Date3Name, htmlAttributes: new { @class = "control-label col-md-2" })
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-2 text-center">
            <input type="checkbox" name="boolItems9" value="true" />
            <label> Enabled?</label>
        </div>
        <div class="form-group col-md-3">
            <input type="text" placeholder="Date3Name" border="1" name="stringItems" value="" class="text-left" />
            @Html.ValidationMessageFor(model => model.Date3Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row">
        <div class="col-md-offset-2">
            @Html.LabelFor(model => model.Checkbox1Name, htmlAttributes: new { @class = "control-label col-md-2" })
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-2 text-center">
            <input type="checkbox" name="boolItems10" value="true" />
            <label> Enabled?</label>
        </div>
        <div class="form-group col-md-2">
            <input type="text" placeholder="Checkbox1Name" border="1" name="stringItems" value="" class="text-left" />
            @*<input type="checkbox" border="1" name="stringItems" value="Checkbox1" class="text-left" />*@
            @*@Html.EditorFor(model => model.Checkbox1, new { htmlAttributes = new { @class = "form-control" } })*@
        </div>
    </div>

    <div class="row">
        <div class="col-md-offset-2">
            @Html.LabelFor(model => model.Checkbox2Name, htmlAttributes: new { @class = "control-label col-md-2" })
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-2 text-center">
            <input type="checkbox" name="boolItems11" value="true" />
            <label> Enabled?</label>
        </div>
        <div class="form-group col-md-2">
            <input type="text" placeholder="Checkbox2Name" border="1" name="stringItems" value="" class="text-left" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-offset-2">
            @Html.LabelFor(model => model.Checkbox3Name, htmlAttributes: new { @class = "control-label col-md-2" })
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-2 text-center">
            <input type="checkbox" name="boolItems12" value="true" />
            <label> Enabled?</label>
        </div>
        <div class="form-group col-md-2">
            <input type="text" placeholder="Checkbox3Name" border="1" name="stringItems" value="" class="text-left" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>



    @*<div class="row">
                <div class="form-group col-md-2 text-center">
                    <input type="checkbox" name="BoolForString2" value="BoolForString2" />
                    <label> Enabled?</label>
                </div>
                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.String2, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.String2, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.String2, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-2 text-center">
                    <input type="checkbox" name="BoolForString3" value="BoolForString3" />
                    <label> Enabled?</label>
                </div>
                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.String3, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.String3, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.String3, "", new { @class = "text-danger" })
                </div>
            </div>

        <div class="row">
                <div class="form-group col-md-2 text-center">
                    <input type="checkbox" name="BoolForNumber1" value="BoolForNumber1" />
                    <label> Enabled?</label>
                </div>
                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.Number1, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.Number1, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Number1, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-2 text-center">
                    <input type="checkbox" name="BoolForNumber2" value="BoolForNumber2" />
                    <label> Enabled?</label>
                </div>
                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.Number2, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.Number2, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Number2, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-2 text-center">
                    <input type="checkbox" name="BoolForNumber3" value="BoolForNumber3" />
                    <label> Enabled?</label>
                </div>
                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.Number3, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.Number3, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Number3, "", new { @class = "text-danger" })
                </div>
            </div>

        <div class="row">
                <div class="form-group col-md-2 text-center">
                    <input type="checkbox" name="BoolForDateTime1" value="BoolForDateTime1" />
                    <label> Enabled?</label>
                </div>
                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.Date1, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.Date1, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Date1, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-2 text-center">
                    <input type="checkbox" name="BoolForDateTime2" value="BoolForDateTime2" />
                    <label> Enabled?</label>
                </div>
                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.Date2, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.Date2, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Date2, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-2 text-center">
                    <input type="checkbox" name="BoolForDateTime3" value="BoolForDateTime3" />
                    <label> Enabled?</label>
                </div>
                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.Date3, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.Date3, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Date3, "", new { @class = "text-danger" })
                </div>
            </div>

        <div class="row">
            <div class="form-group col-md-2 text-center">
                <input type="checkbox" name="BoolForCheckBox2" value="BoolForCheckBox2" />
                <label> Enabled?</label>
            </div>
            <div class="form-group col-md-3">
                @Html.LabelFor(model => model.Checkbox2, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.Checkbox2, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Checkbox2, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-2 text-center">
                <input type="checkbox" name="BoolForCheckBox3" value="BoolForCheckBox3" />
                <label> Enabled?</label>
            </div>
            <div class="form-group col-md-3">
                @Html.LabelFor(model => model.Checkbox3, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.Checkbox3, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Checkbox3, "", new { @class = "text-danger" })
            </div>
        </div>*@


}

<div>
    @Html.ActionLink("Назад", "GetCollections", "Home")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
