@model IEnumerable<kursach.Models.Collection>

@{
    ViewBag.Title = "Коллекции";
}

<h2>Коллекции</h2>
<style>
    table#home_view-collection__table tr, table#home_view-collection__table th, table#home_view-collection__table td {
        border: 1px solid black;
    }

    table#home_view-collection__table th, table#home_view-collection__table td {
        padding: 4px;
    }
</style>

<p>
    @Html.ActionLink("Create New", "Create", "CollectionTopics")
</p>
<table id="home_view-collection__table">
    <tr>
        <th>
            @Html.DisplayName("№")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayName("Topic")
            @*@Html.DisplayNameFor(model => model.CollectionTopic.Name)*@
        </th>
        <th>
            @Html.DisplayNameFor(model => model.String1Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.String2Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.String3Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Number1Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Number2Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Number3Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MarkdownField1Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MarkdownField2Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MarkdownField3Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date1Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date2Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date3Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Checkbox1Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Checkbox2Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Checkbox3Name)
        </th>
        <td>
            <label> Collection actions </label>
        </td>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CollectionTopic.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.String1Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.String2Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.String3Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Number1Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Number2Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Number3Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MarkdownField1Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MarkdownField2Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MarkdownField3Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date1Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date2Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date3Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Checkbox1Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Checkbox2Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Checkbox3Name)
            </td>

            <td>
                @Html.ActionLink("Просмотреть", "EditTable", "CollectionTopics", new { id = item.Id })
                @Html.ActionLink("Редактировать", "Details", "CollectionTopics", new { id = item.Id })
                @Html.ActionLink("Удалить", "Delete", "CollectionTopics", new { id = item.Id })
            </td>
        </tr>
    }
</table>

<button class="navbar-btn" value="Edit_table"
        onclick="location.href='@Url.Action("EditTable", "CollectionTopics")'">
    Изменить таблицу
</button>

